
.header,ul, li{
    
    display: inline;
}
body{
    background-color:peachpuff;
    color: brown;
    font-size: 30px;
}
table,th,td{
    border: 1px solid black;
  }
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }

  a:hover {
    background-color: yellow;
  }
  .avatar{
    width: 80px;
     height:90px;
  }